<ion-header>
  <ion-toolbar>
    <ion-title>navigation</ion-title>
  </ion-toolbar>
</ion-header>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />
<ion-content>





  <ion-menu side="end" contentId="main-content" type="overlay">
    <ion-content>
      <ion-list-header>Recommendations</ion-list-header>
      <ion-list *ngFor="let item of places"  id ="select_rec">
        
        

        
        
            
        <ion-button   id ="{{item.title}}">{{item.title}}</ion-button >
    
    </ion-list>

     
    </ion-content>
  </ion-menu>


  






<ion-button id='startbutton'>Start</ion-button>
<ion-button id='endbutton'>Destination</ion-button>
<div id='map'></div>
<div id='inputs'></div>
<div id='errors'></div>


  <div id='instructions'></div>

</ion-content>
