<ion-header>
  <ion-toolbar>
    <ion-title>Create Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <form class="container" [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">search</ion-label>
      <ion-input formControlName="search" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.search.errors?.required">
      Name is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.search.errors?.minlength">
      Name should be min 2 chars long.
    </span>
    <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
  </form>
  <ion-radio-group (ionChange)="radioGroupChange($event)">
  <ion-list *ngFor="let item of places">
    <ion-item>
     <ion-label>{{item.title}}</ion-label>
      <ion-radio value="{{item.title}}"></ion-radio>
   </ion-item>
   </ion-list>
  </ion-radio-group>
</ion-content>